[submodule "Lib/Bitter"]
	path = Lib/Bitter
	url = https://github.com/freakbyte/Bitter.git
[submodule "Lib/AeroMessages"]
	path = Lib/AeroMessages
	url = https://github.com/themeldingwars/AeroMessages
[submodule "Lib/BepuPhysics2"]
	path = Lib/BepuPhysics2
	url = https://github.com/bepu/bepuphysics2.git
