<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Firefall installation paths (StaticDBPath, MapsPath, AssetDBPath, CachePath) are configured in GameServer.config.json -->
    <appSettings>
        <add key="serilog:minimum-level" value="Debug"/>
        <add key="serilog:write-to" value="Console"/>
        <add key="Port" value="25001"/>
        <add key="ClientVersion" value="1962"/>
        <add key="ClientEnvironment" value="production"/>
        <add key="ClientBranch" value="prod"/>
        <add key="GrpcChannelAddress" value="http://localhost:5201"/>
        <add key="ZoneId" value="448"/>
        <add key="LoadMapsCollision" value="true"/>
        <add key="LoadZoneEntities" value="true"/>
        <add key="ForceReloadZone" value="false"/>
        <add key="BatchOutgoingPackets" value="true"/>
    </appSettings>
</configuration>