<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="serilog:minimum-level" value="Debug"/>
        <add key="Port" value="25001"/>
        <add key="GrpcChannelAddress" value="http://localhost:5201"/>
        <add key="StaticDBPath" value="C:\Program Files\Steam\steamapps\common\Firefall\system\db\clientdb.sd2"/>
        <add key="MapsPath" value=""/>
    </appSettings>
</configuration>